/*
 * The messenger application's CSS3 stylesheet. Navigator design
 * adapted from the tutorial of the Web Designer Wall:
 * http://webdesignerwall.com/tutorials/css3-dropdown-menu
 */
body {
	// width: 50em;
	 margin: 2em 3em; line-height: 1.5em;
	font-size: 14px; font-family: MONOSPACE;
	color: #221100; background: wheat;
}


select {

	width: 300px;
}
section {
	display: block;
}

main > section {
	margin-bottom: 1.5em;
}

footer > output {
	color: red; font-weight: bolder;
}

h1 {
	margin-bottom: .4em; font-size: 140%;
}

h2 {
	margin-bottom: .2em; font-size: 120%;
}

fieldset {
	margin: 0; background: #e2e2e2;
}

legend {
	font-size: 60%;
}

textarea {
	font-size: inherit; font-family: inherit;
}


button, input[type="button"] {
	display:inline-block;
	padding:0.35em 1.2em;
	border:0.1em solid black;
	margin:0 0.3em 0.3em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:black;
	text-align:center;
	transition: all 0.2s;
	margin-top: 1vw; 
}

button:hover {
 color:white;
 background-color: black;
}

label.horizontal {
	display: inline-block; width: 5em; text-align: right;
	padding: 0 0.5em; vertical-align: middle;
}

span.avatar {
	display: inline-block;
	border: 2px groove #f0f0f0; background: #e2e2e2;
}

span.avatar img {
	width: 6em; height: 6em;
}

span.slider {
	overflow-x: scroll; 
}

span.slider a {
	display: table-cell; padding: 0 1px; text-align: center;
}

span.slider img {
	display: block;
}

a:hover img {
	opacity: 0.7;
}


nav {
width: 650px;

}

nav ul {
	padding: .55em .5em 0 .5em;
	border: solid 1px #6d6d6d; border-radius: 2em;
	background: #46199299;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

nav li {
	padding: 0 0 .6em 0; margin: 0 .4em;
	list-style: none;
}

nav.horizontal li {
	display: inline-block;
}

nav a {
	display: inline-block; padding: .4em 1.5em; margin: 0;
	color: #e7e5e5; font-weight: bold; border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

nav li.selected a, nav li:hover a {
	color: #444444;
	border-top: solid 1px #f0f0f0; border-radius: 5em;
	background: white;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8); box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

section.login {
	width: 30em;
	border-top: solid 1px #f0f0f0; 
	border-radius: 0.2em;

}

section.login input {
	width: 20em;
}





section.preferences fieldset:nth-of-type(1) img {
	vertical-align: middle;
}

section.preferences fieldset:nth-of-type(3) div:first-of-type input {
	width: 24em;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(2) {
	display: inline;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(2) input {
	width: 6em;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(3) {
	display: inline;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(3) label {
	width: 2em;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(3) input {
	width: 14.05em;
}

section.preferences fieldset:nth-of-type(even) input {
	width: 24em;
}

section.preferences label {
	display: inline-block; text-align: right;
	padding: 0 0.5em; vertical-align: middle;
}


section.candidates label {
	display: inline-block; text-align: right;
	padding: 0 0.5em; vertical-align: middle;
}

section.candidates input {
	width: 24em;
}


section.subjects img {
	padding: 0 1px;
}

section.messages img {
	
}

section.messages > ul {
	padding: 0; margin: 0;
	border: 2px groove #f0f0f0; background: #e2e2e2;
}

section.messages li {
	list-style: none; margin-top: 1em;
}

section.messages a:first-of-type > span {
	padding: 8px; background-size: auto; 
	background: url(image/toggle-plus.gif); background-repeat: no-repeat;
}

section.messages li.expanded > div a:first-of-type > span {
	background: url(image/toggle-minus.gif); background-repeat: no-repeat;
}

section.messages textarea {
	width: 98%;
}




table  {
	padding-top: 20px;
	float: left;
}
	
td:first-child {
	min-width: auto;
}

td {
	min-width: 220px;
	}


p {
    float: left;
    width: 300px;
	margin: 20px;
	margin-left: 60px;
}

.songSelected {

	background: cadetblue;


}