/*
 * The messenger application's CSS3 stylesheet. Navigator design
 * adapted from the tutorial of the Web Designer Wall:
 * http://webdesignerwall.com/tutorials/css3-dropdown-menu
 */
body {
	width: 50em; margin: 2em 3em; line-height: 1.5em;
	font-size: 14px; font-family: Arial, Helvetica, sans-serif;
	color: #221100; background: #ebebeb;
}


select {

	width: 300px;
}
section {
	display: block;
}

main > section {
	margin-bottom: 1.5em;
}

footer > output {
	color: red; font-weight: bolder;
}

h1 {
	margin-bottom: .4em; font-size: 140%;
}

h2 {
	margin-bottom: .2em; font-size: 120%;
}

fieldset {
	margin: 0; background: #e2e2e2;
}

legend {
	font-size: 60%;
}

textarea {
	font-size: inherit; font-family: inherit;
}

button, input[type="button"] {
	border-radius: 0.2em; padding: 0.1em 1.5em;
	color: #444444; background: linear-gradient(#ebebeb,  #a1a1a1);
	font-weight: bold; text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}


label.horizontal {
	display: inline-block; width: 5em; text-align: right;
	padding: 0 0.5em; vertical-align: middle;
}

span.avatar {
	display: inline-block;
	border: 2px groove #f0f0f0; background: #e2e2e2;
}

span.avatar img {
	width: 6em; height: 6em;
}

span.slider {
	overflow-x: scroll; 
}

span.slider a {
	display: table-cell; padding: 0 1px; text-align: center;
}

span.slider img {
	display: block;
}

a:hover img {
	opacity: 0.7;
}


nav ul {
	padding: .55em .5em 0 .5em;
	border: solid 1px #6d6d6d; border-radius: 2em; background: linear-gradient(#a9a9a9,  #7a7a7a);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

nav li {
	padding: 0 0 .6em 0; margin: 0 .4em;
	list-style: none;
}

nav.horizontal li {
	display: inline-block;
}

nav a {
	display: inline-block; padding: .4em 1.5em; margin: 0;
	color: #e7e5e5; font-weight: bold; border-radius: 1.6em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

nav li.selected a, nav li:hover a {
	color: #444444; background: linear-gradient(#ebebeb,  #a1a1a1); border-top: solid 1px #f0f0f0; border-radius: 0.2em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8); box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}


section.login input {
	width: 20em;
}


section.preferences fieldset:nth-of-type(1) img {
	vertical-align: middle;
}

section.preferences fieldset:nth-of-type(3) div:first-of-type input {
	width: 24em;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(2) {
	display: inline;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(2) input {
	width: 6em;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(3) {
	display: inline;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(3) label {
	width: 2em;
}

section.preferences fieldset:nth-of-type(3) div:nth-of-type(3) input {
	width: 14.05em;
}

section.preferences fieldset:nth-of-type(even) input {
	width: 24em;
}

section.preferences label {
	display: inline-block; text-align: right;
	padding: 0 0.5em; vertical-align: middle;
}


section.candidates label {
	display: inline-block; text-align: right;
	padding: 0 0.5em; vertical-align: middle;
}

section.candidates input {
	width: 24em;
}


section.subjects img {
	padding: 0 1px;
}

section.messages img {
	
}

section.messages > ul {
	padding: 0; margin: 0;
	border: 2px groove #f0f0f0; background: #e2e2e2;
}

section.messages li {
	list-style: none; margin-top: 1em;
}

section.messages a:first-of-type > span {
	padding: 8px; background-size: auto; 
	background: url(image/toggle-plus.gif); background-repeat: no-repeat;
}

section.messages li.expanded > div a:first-of-type > span {
	background: url(image/toggle-minus.gif); background-repeat: no-repeat;
}

section.messages textarea {
	width: 98%;
}